<ul class="misc-list flexrow">
    <li class="flex1">
        <a class="rollable" data-rank="{{system.secondary.wealth}}" data-source="FASERIP.details.wealth" title="{{localize 'FASERIP.roll'}}">
            {{localize "FASERIP.details.wealth"}}
        </a>        
        <select name="system.secondary.wealth">
            {{ selectOptions @root.dropdownRanks selected=system.secondary.wealth localize=true }}
        </select>        
    </li>
    <li class="flex1">        
        <a class="rollable" data-rank="{{system.secondary.fame}}" data-source="FASERIP.details.fame" title="{{localize 'FASERIP.roll'}}">
            {{localize "FASERIP.details.fame"}}
        </a>        
        <select name="system.secondary.fame">
            {{ selectOptions @root.dropdownRanks selected=system.secondary.fame localize=true }}
        </select>        
    </li>  
</ul>

<label for="specialties-text">{{localize "FASERIP.details.specialties"}}</label>
<textarea id="specialties-text" class="specialties-text" rows=3 name="system.specialties">{{ system.specialties }}</textarea>

<label for="weaknesses-text">{{localize "FASERIP.details.weaknesses"}}</label>
<input id="specialties-text" type="text" name="system.weaknesses" value="{{ system.weaknesses }}" data-dtype="String" />

<label for="contacts-text">{{localize "FASERIP.details.contacts"}}</label>
<textarea id="contacts-text" class="contacts-text" rows=3 name="system.contacts">{{ system.contacts }}</textarea>
